@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Noto Serif Display", serif;
}

:root {
  font-family: var(--font-sans);
}

body {
  margin: 0;
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  background-color: #F4F1EB;
  overflow-x: clip;
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
  /* overflow-x: hidden; */
}

section {
  scroll-margin-top: 100px;
}