@import "tailwindcss";

:root {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-family: var(--font-dm);
  background-color: #F4F1EB;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}